/*
Theme Name: EducationPack
Theme URI: http://www.nicdarkthemes.com
Description: Wonderful theme for your Business.
Author: Nicdark
Author URI: http://www.cleanthemes.net
Version: 1.2
License: http://www.cleanthemes.net
License URI: http://www.cleanthemes.net
Tags: one-column, two-columns, right-sidebar, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready, accessibility-ready
Text Domain: educationpack
*/
/*CUSTOM WORDPRESS*/

/*

1 THEME STRUCTURE

    1.0 wordpress core

    1.1 body

    1.2 container

    1.3 grid

2 TEXT

    2.1 text rules

    2.2 text color

    2.3 text size

    2.4 text font

3 FORMS

4 TABLE

5 TABS

6 CALENDAR

7 FRAMEWORK CLASS

    7.1 text-align

    7.2 text-transform

    7.3 color

    7.4 font-size

    7.5 height

    7.6 line-height

    7.7 width

    7.8 background-color

    7.9 background

    7.10 filter

    7.11 margin

    7.12 padding

    7.13 border

    7.14 box-sizing

    7.15 list-style

    7.16 display

    7.17 vertical-align

    7.18 float

    7.19 bg size position repeat

    7.20 position

    7.21 right left top bottom

    7.22 overflow

    7.23 cursor

    7.24 outline


8 CUSTOM FOR THEME

    8.1 navigation 1

    8.2 navigation 2

    8.3 navigation 3

    8.4 navigation top header 1

    8.5 navigation top header 2

    8.6 navigation copyright


9 TYPED PLUGIN


10 JQUERY UI


11 RESPONSIVE

    11.1 ipad land

    11.2 ipad port

    11.3 iphone land

    11.4 iphone port

    11.5 all responsive

    11.6 all iphone

*/
.overflow_hidden{
	overflow: hidden;
}
.update-nag{display:none !important;}
/* = 1.0 WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

.gallery-caption { }
.bypostauthor {  }


/* 1 THEME STRUCTURE ------------------------------------------------------- */

/* 1.1 body */
body{ margin:0px; padding:0px; }
#start_nicdark_framework { color: #a3a3a3; font-size: 16px; line-height: 30px; font-family: 'Varela Round', sans-serif; overflow-x:hidden; }

/* 1.2 container */
.nicdark_container{ width:1200px; margin:auto; padding: 0px; }
.nicdark_clearfix:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; }
.nicdark_site{ float: left; width: 100%; -webkit-transition: all 0.8s ease; -moz-transition: all 0.8s ease; -o-transition: all 0.8s ease; -ms-transition: all 0.8s ease; transition: all 0.8s ease; }
.nicdark_section{ width: 100%; float: left; }

/* 1.3 grid */
.nicdark_grid_1, .nicdark_grid_2, .nicdark_grid_3, .nicdark_grid_4, .nicdark_grid_5, .nicdark_grid_6, .nicdark_grid_7, .nicdark_grid_8, .nicdark_grid_9, .nicdark_grid_10, .nicdark_grid_11, .nicdark_grid_12{ padding:15px; float:left; display:inline; box-sizing:border-box; }
.nicdark_grid_1 {width:8.33%;}
.nicdark_grid_2 {width:16.66%;}
.nicdark_grid_3 {width:25%;}
.nicdark_grid_4 {width:33.33%;}
.nicdark_grid_5 {width:41.66%;}
.nicdark_grid_6 {width:50%;}
.nicdark_grid_7 {width:58.33%;}
.nicdark_grid_8 {width:66.66%;}
.nicdark_grid_9 {width:75%;}
.nicdark_grid_10 {width:83.33%;}
.nicdark_grid_11 {width:91.66%;}
.nicdark_grid_12 {width:100%;}

/* 2 TEXT ------------------------------------------------------- */

/* 2.1 text rules */
p,h1,h2,h3,h4,h5,h6{ margin:0px; padding:0px; font-weight: normal; }
a{ text-decoration: none; }

/* 2.2 text color */
h1,h2,h3,h4,h5,h6,.nicdark_datepicker .ui-datepicker-header .ui-datepicker-title{ color: #727475; }
p,input,label,textarea,select,.nicdark_datepicker{ color:#a3a3a3; }
a{ color: #a3a3a3; }
a img{ border: 0; }

/* 2.3 text size */
h1{ font-size: 30px; line-height: 30px; }
h2{ font-size: 25px; line-height: 25px; }
h3{ font-size: 20px; line-height: 20px; }
h4{ font-size: 17px; line-height: 17px; }
h5{ font-size: 15px; line-height: 15px; }
h6{ font-size: 13px; line-height: 13px; }
p { font-size: 16px; line-height: 30px; }
input,label,textarea,select{ font-size: 15px; }

/* 2.4 text font */
h1,h2,h3,h4,h5,h6,.nicdark_first_font,.nicdark_datepicker .ui-datepicker-title{ font-family: 'Montserrat', sans-serif; }
p,a,input,label,.nicdark_second_font,.nicdark_datepicker,textarea,select{ font-family: 'Varela Round', sans-serif; }
.nicdark_third_font{ font-family: 'Hind', sans-serif; }


/* 3 FORMS ------------------------------------------------------- */

input,textarea,select { background-color: #f9f9f9; outline: 0; border: 1px solid #f1f1f1; padding: 10px 20px; box-sizing:border-box; }

/* 4 TABLE ------------------------------------------------------- */

table{ border-collapse: collapse; }


/* 5 TABS ------------------------------------------------------- */

.nicdark_tabs .ui-tabs-active.ui-state-active { box-shadow: 0px 2px 0px #68B78C; }


/* 6 CALENDAR ------------------------------------------------------- */

.nicdark_datepicker { float: left; width: 100%; text-align: center; }
.nicdark_datepicker .ui-datepicker { float: left; width: 100%; }
.nicdark_datepicker .ui-datepicker-header { float: left; width: 100%; }
.nicdark_datepicker .ui-datepicker-calendar { display: inline-table; width: 95%; margin-top: 15px; margin-bottom: 15px; }
.nicdark_datepicker .ui-datepicker-prev { display: none; }
.nicdark_datepicker .ui-datepicker-next { display: none; }

.nicdark_datepicker .ui-datepicker-header .ui-datepicker-title { background-color: #F9F9F9; padding: 20px; font-size: 20px; font-weight: bolder; border-bottom: 1px solid #f1f1f1; }
.nicdark_datepicker .ui-datepicker-calendar { margin-top: 10px; }
.nicdark_datepicker .ui-datepicker-calendar th { color: #727475; }
.nicdark_datepicker .ui-datepicker-calendar th,.nicdark_datepicker .ui-datepicker-calendar td { padding: 10px 5px; }

.nicdark_datepicker .ui-datepicker-unselectable span { background-color: #fff; }
.nicdark_datepicker a.ui-state-default { background-color: #68B78C; color:#fff; padding: 5px; border-radius: 3px; }

/* 7 FRAMEWORK CLASS ------------------------------------------------------- */


/* 7.1 text-align */
.nicdark_text_align_center { text-align: center; }
.nicdark_text_align_right { text-align: right; }
.nicdark_text_align_left { text-align: left; }

/* 7.2 text-transform */
.nicdark_text_transform_uppercase{ text-transform: uppercase; }


/* 7.3 color */
.nicdark_color_white { color: #fff; }
.nicdark_color_grey { color: #a3a3a3; }
.nicdark_color_greydark { color: #727475; }
.nicdark_color_greydark_hover:hover { color: #727475; }
.nicdark_color_f1f1f1{ color: #f1f1f1; }
.nicdark_color_green{ color: #68B78C; }
.nicdark_color_green_hover:hover{ color: #68B78C; }
.nicdark_color_orange{ color: #ceb28d; }
.nicdark_color_orange_hover:hover{ color: #ceb28d; }


/*placeholer*/
.nicdark_placeholder_color_white::-webkit-input-placeholder { color: #fff; }
.nicdark_placeholder_color_white::-moz-placeholder { color: #fff; }
.nicdark_placeholder_color_white:-ms-input-placeholder { color: #fff; }
.nicdark_placeholder_color_white:-moz-placeholder { color: #fff; }



/* 7.4 font-size */
.nicdark_font_size_100 { font-size: 100px; line-height: 100px; }
.nicdark_font_size_90 { font-size: 90px; line-height: 90px; }
.nicdark_font_size_80 { font-size: 80px; line-height: 80px; }
.nicdark_font_size_70 { font-size: 70px; line-height: 70px; }
.nicdark_font_size_60 { font-size: 60px; line-height: 60px; }
.nicdark_font_size_50 { font-size: 50px; line-height: 50px; }
.nicdark_font_size_40 { font-size: 40px; line-height: 45px; }
.nicdark_font_size_30 { font-size: 30px; line-height: 30px; }
.nicdark_font_size_25 { font-size: 25px; line-height: 25px; }
.nicdark_font_size_20 { font-size: 20px; line-height: 20px; }
.nicdark_font_size_15 { font-size: 15px; line-height: 15px; }
.nicdark_font_size_14 { font-size: 14px; line-height: 14px; }
.nicdark_font_size_13 { font-size: 13px; line-height: 13px; }
.nicdark_font_size_12 { font-size: 12px; line-height: 12px; }
.nicdark_font_size_11 { font-size: 11px; line-height: 12px; }
.nicdark_font_size_10 { font-size: 10px; line-height: 10px; }
.nicdark_font_size_8 { font-size: 8px; line-height: 8px; }


/* 7.5 height */
.nicdark_height_1000{ height: 1000px; }
.nicdark_height_600{ height: 600px; }
.nicdark_height_570{ height: 570px; }
.nicdark_height_550{ height: 550px; }
.nicdark_height_500{ height: 500px; }
.nicdark_height_450{ height: 450px; }
.nicdark_height_400{ height: 400px; }
.nicdark_height_300{ height: 300px; }
.nicdark_height_250{ height: 250px; }
.nicdark_height_200{ height: 200px; }
.nicdark_height_150{ height: 150px; }
.nicdark_height_100{ height: 100px; }
.nicdark_height_90{ height: 90px; }
.nicdark_height_80{ height: 80px; }
.nicdark_height_70{ height: 70px; }
.nicdark_height_60{ height: 60px; }
.nicdark_height_55{ height: 55px; }
.nicdark_height_50{ height: 50px; }
.nicdark_height_40{ height: 40px; }
.nicdark_height_33{ height: 33px; }
.nicdark_height_30{ height: 30px; }
.nicdark_height_25{ height: 25px; }
.nicdark_height_20{ height: 20px; }
.nicdark_height_15{ height: 15px; }
.nicdark_height_13{ height: 13px; }
.nicdark_height_10{ height: 10px; }
.nicdark_height_5{ height: 5px; }
.nicdark_height_3{ height: 3px; }
.nicdark_height_2{ height: 2px; }
.nicdark_height_1{ height: 1px; }
.nicdark_height_auto{ height: auto; }
.nicdark_height_100_percentage { height: 100%; }


/* 7.6 line-height */
.nicdark_line_height_5 { line-height: 5px; }
.nicdark_line_height_16 { line-height: 16px; }
.nicdark_line_height_17 { line-height: 17px; }
.nicdark_line_height_18 { line-height: 18px; }
.nicdark_line_height_20 { line-height: 20px; }
.nicdark_line_height_25 { line-height: 25px; }
.nicdark_line_height_31 { line-height: 31px; }
.nicdark_line_height_30 { line-height: 30px; }
.nicdark_line_height_35 { line-height: 35px; }
.nicdark_line_height_50 { line-height: 50px; }


/* 7.7 width */
.nicdark_width_700 { width: 700px; }
.nicdark_width_300 { width: 300px; }
.nicdark_width_200 { width: 200px; }
.nicdark_width_170 { width: 170px; }
.nicdark_width_150 { width: 150px; }
.nicdark_width_100 { width: 100px; }
.nicdark_width_90 { width: 90px; }
.nicdark_width_70 { width: 70px; }
.nicdark_width_60 { width: 60px; }
.nicdark_width_55 { width: 55px; }
.nicdark_width_33 { width: 33px; }
.nicdark_width_30_hover:hover { width: 30px; }
.nicdark_width_25 { width: 25px; }
.nicdark_width_5 { width: 5px; }
.nicdark_width_100_percentage { width: 100%; }
.nicdark_width_85_percentage { width: 85%; }
.nicdark_width_80_percentage { width: 80%; }
.nicdark_width_75_percentage { width: 75%; }
.nicdark_width_70_percentage { width: 70%; }
.nicdark_width_66_percentage { width: 66.66%; }
.nicdark_width_65_percentage { width: 65%; }
.nicdark_width_60_percentage { width: 60%; }
.nicdark_width_55_percentage { width: 55%; }
.nicdark_width_50_percentage { width: 50%; }
.nicdark_width_35_percentage { width: 35%; }
.nicdark_width_33_percentage { width: 33.33%; }
.nicdark_width_40_percentage { width: 40%; }
.nicdark_width_30_percentage { width: 30%; }
.nicdark_width_25_percentage { width: 25%; }
.nicdark_width_20_percentage { width: 20%; }
.nicdark_width_15_percentage { width: 15%; }
.nicdark_width_10_percentage { width: 10%; }
.nicdark_width_5_percentage { width: 5%; }


/* 7.8 background-color */
.nicdark_bg_white { background-color: #ffffff; }
.nicdark_bg_white_hover:hover { background-color: #ffffff; }
.nicdark_bg_blue { background-color: #8AC6D0; }
.nicdark_bg_green { background-color: #68B78C; }
.nicdark_bg_green_hover:hover { background-color: #68B78C; }
.nicdark_bg_grey { background-color: #f9f9f9; }
.nicdark_bg_grey_2 { background-color: #a3a3a3; }
.nicdark_bg_grey_3 { background-color: #e4e4e4; }
.nicdark_bg_greydark { background-color: #444444; }
.nicdark_bg_greydark_hover:hover { background-color: #444444; }
.nicdark_bg_orange { background-color: #ceb28d; }
.nicdark_bg_red { background-color: #CC8585; }
.nicdark_bg_yellow { background-color: #FFDA44; }
.nicdark_bg_orangedark { background-color: #c4aa87; }
.nicdark_bg_blue_alpha { background-color: rgba(138, 198, 208, 0.75); }
.nicdark_bg_green_alpha { background-color: rgba(112, 193, 144, 0.95); }
.nicdark_bg_greydark_alpha { background-color: rgba(101, 100, 96, 0.3); }
.nicdark_bg_greydark_alpha_4 { background-color: rgba(101, 100, 96, 0.4); }
.nicdark_bg_greydark_alpha_6 { background-color: rgba(101, 100, 96, 0.6); }
.nicdark_bg_greydark_alpha_8 { background-color: rgba(101, 100, 96, 0.8); }
.nicdark_bg_greydark_alpha_9 { background-color: rgba(101, 100, 96, 0.9); }


/* 7.9 background */
.nicdark_background_none{ background: none; }
.nicdark_background_none_hover:hover{ background: none; }
.nicdark_bg_greydark_alpha_gradient {
    background: -moz-linear-gradient(top, rgba(101,100,96,0) 0%, rgba(101,100,96,0.1) 60%, rgba(101,100,96,0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(101,100,96,0) 0%,rgba(101,100,96,0.1) 60%,rgba(101,100,96,0.65) 100%);
    background: linear-gradient(to bottom, rgba(101,100,96,0) 0%,rgba(101,100,96,0.1) 60%,rgba(101,100,96,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00656460', endColorstr='#a6656460',GradientType=0 );
}
.nicdark_bg_greydark_alpha_gradient_2 {
    background: -moz-linear-gradient(top, rgba(101,100,96,0.8) 0%, rgba(101,100,96,0) 35%, rgba(101,100,96,0) 45%, rgba(101,100,96,0.8) 100%);
    background: -webkit-linear-gradient(top, rgba(101,100,96,0.8) 0%,rgba(101,100,96,0) 35%,rgba(101,100,96,0) 45%,rgba(101,100,96,0.8) 100%);
    background: linear-gradient(to bottom, rgba(101,100,96,0.8) 0%,rgba(101,100,96,0) 35%,rgba(101,100,96,0) 45%,rgba(101,100,96,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99656460', endColorstr='#99656460',GradientType=0 );
}
.nicdark_bg_greydark_alpha_gradient_3 {
    background: -moz-linear-gradient(top, rgba(101,100,96,0) 0%, rgba(101,100,96,0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(101,100,96,0) 0%,rgba(101,100,96,0.65) 100%);
    background: linear-gradient(to bottom, rgba(101,100,96,0) 0%,rgba(101,100,96,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00656460', endColorstr='#a6656460',GradientType=0 );
}
.nicdark_bg_greydark_alpha_gradient_4 {
    background: -moz-linear-gradient(top, rgba(101,100,96,0.65) 0%, rgba(101,100,96,0.1) 60%, rgba(101,100,96,0) 100%);
    background: -webkit-linear-gradient(top, rgba(101,100,96,0.65) 0%,rgba(101,100,96,0.1) 60%,rgba(101,100,96,0) 100%);
    background: linear-gradient(to bottom, rgba(101,100,96,0.65) 0%,rgba(101,100,96,0.1) 60%,rgba(101,100,96,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00656460', endColorstr='#a6656460',GradientType=0 );
}
.nicdark_bg_greydark_alpha_gradient_5 {
    background: -moz-linear-gradient(top, rgba(101,100,96,0.6) 0%, rgba(101,100,96,0.6) 75%, rgba(101,100,96,0) 100%);
    background: -webkit-linear-gradient(top, rgba(101,100,96,0.6) 0%,rgba(101,100,96,0.6) 75%,rgba(101,100,96,0) 100%);
    background: linear-gradient(to bottom, rgba(101,100,96,0.6) 0%,rgba(101,100,96,0.6) 75%,rgba(101,100,96,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99656460', endColorstr='#00656460',GradientType=0 );
}
.nicdark_bg_gradient_red_to_green{

    background: rgb(204,133,133);
    background: -moz-linear-gradient(left, rgba(204,133,133,1) 0%, rgba(204,133,133,1) 61%, rgba(104,183,140,1) 82%, rgba(104,183,140,1) 100%);
    background: -webkit-linear-gradient(left, rgba(204,133,133,1) 0%,rgba(204,133,133,1) 61%,rgba(104,183,140,1) 82%,rgba(104,183,140,1) 100%);
    background: linear-gradient(to right, rgba(204,133,133,1) 0%,rgba(204,133,133,1) 61%,rgba(104,183,140,1) 82%,rgba(104,183,140,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc8585', endColorstr='#68b78c',GradientType=1 );

}

/* 7.10 filter */
.nicdark_filter_blur_5 { filter:blur(5px); -webkit-filter: blur(5px); }


/* 7.11 margin */
/*margin general*/
.nicdark_margin_0 { margin: 0px; }
.nicdark_margin_5 { margin: 5px; }
.nicdark_margin_10 { margin: 10px; }
.nicdark_margin_15 { margin: 15px; }
.nicdark_margin_20 { margin: 20px; }
/*margin bottom*/
.nicdark_margin_bottom_20 { margin-bottom: 20px; }
.nicdark_margin_bottom_10 { margin-bottom: 10px; }
/*margin top*/
.nicdark_margin_top_50 { margin-top: 50px; }
.nicdark_margin_top_40 { margin-top: 40px; }
.nicdark_margin_top_20 { margin-top: 20px; }
.nicdark_margin_top_13 { margin-top: 13px; }
.nicdark_margin_top_10 { margin-top: 10px; }
.nicdark_margin_top_5 { margin-top: 5px; }
.nicdark_margin_top_2 { margin-top: 2px; }
/*margin right*/
.nicdark_margin_right_5 { margin-right: 5px; }
.nicdark_margin_right_10 { margin-right: 10px; }
.nicdark_margin_right_20 { margin-right: 20px; }
.nicdark_margin_right_40 { margin-right: 40px; }
.nicdark_margin_right_50 { margin-right: 50px; }
.nicdark_margin_right_60 { margin-right: 60px; }
/*margin left*/
.nicdark_margin_left_0 { margin-left: 0px; }
.nicdark_margin_left_5 { margin-left: 5px; }
.nicdark_margin_left_10 { margin-left: 10px; }
.nicdark_margin_left_15 { margin-left: 15px; }
.nicdark_margin_left_20 { margin-left: 20px; }
.nicdark_margin_left_40 { margin-left: 40px; }
.nicdark_margin_left_80 { margin-left: 80px; }
.nicdark_margin_left_60 { margin-left: 60px; }
.nicdark_margin_left_70 { margin-left: 70px; }
.nicdark_margin_left_120 { margin-left: 120px; }
.nicdark_margin_left_200 { margin-left: 200px; }
.nicdark_margin_left_220 { margin-left: 220px; }
.nicdark_margin_left_240 { margin-left: 240px; }
/*margin left negative*/
.nicdark_margin_left_negative_15 { margin-left: -15px; }
/*margin bottom negative*/
.nicdark_margin_bottom_negative_15 { margin-bottom: -15px; }
.nicdark_margin_bottom_100_negative { margin-bottom: -100px; }
.nicdark_margin_bottom_105_negative { margin-bottom: -105px; }
/*margin top negative*/
.nicdark_margin_top_negative_30 { margin-top: -30px; }
.nicdark_margin_top_negative_225 { margin-top: -225px; }
.nicdark_margin_top_negative_300 { margin-top: -300px; }


/* 7.12 padding */
/*padding_general*/
.nicdark_padding_0 { padding: 0px; }
.nicdark_padding_5 { padding: 5px; }
.nicdark_padding_5_10 { padding: 5px 10px; }
.nicdark_padding_8 { padding: 8px; }
.nicdark_padding_10 { padding: 10px; }
.nicdark_padding_10_20 { padding: 10px 20px; }
.nicdark_padding_20_10 { padding: 20px 10px; }
.nicdark_padding_13_10 { padding: 13px 10px; }
.nicdark_padding_13 { padding: 13px; }
.nicdark_padding_15 { padding: 15px; }
.nicdark_padding_20 { padding: 20px; }
.nicdark_padding_28 { padding: 28px; }
.nicdark_padding_20_50 { padding: 20px 50px; }
.nicdark_padding_20_25 { padding: 20px 25px; }
.nicdark_padding_30 { padding: 30px; }
.nicdark_padding_40 { padding: 40px; }
.nicdark_padding_40_20 { padding: 40px 20px; }
.nicdark_padding_50 { padding: 50px; }
.nicdark_padding_60 { padding: 60px; }
.nicdark_padding_80 { padding: 80px; }
.nicdark_padding_90 { padding: 90px; }
.nicdark_padding_100 { padding: 100px; }
.nicdark_padding_1020 { padding: 10px 20px; }
.nicdark_padding_510 { padding: 5px 10px; }
/*bottom*/
.nicdark_padding_botttom_0 { padding-bottom: 0px; }
.nicdark_padding_botttom_5 { padding-bottom: 5px; }
.nicdark_padding_botttom_10 { padding-bottom: 10px; }
/*top*/
.nicdark_padding_top_0 { padding-top: 0px; }
.nicdark_padding_top_10 { padding-top: 10px; }
/*left*/
.nicdark_padding_left_220 { padding-left: 220px; }
.nicdark_padding_left_120 { padding-left: 120px; }
.nicdark_padding_left_100 { padding-left: 100px; }
.nicdark_padding_left_90 { padding-left: 90px; }
.nicdark_padding_left_80 { padding-left: 80px; }
.nicdark_padding_left_70 { padding-left: 70px; }
.nicdark_padding_left_50 { padding-left: 50px; }
.nicdark_padding_left_45 { padding-left: 45px; }
.nicdark_padding_left_40 { padding-left: 40px; }
.nicdark_padding_left_25 { padding-left: 25px; }
.nicdark_padding_left_20 { padding-left: 20px; }
.nicdark_padding_left_10 { padding-left: 10px; }
.nicdark_padding_left_5 { padding-left: 5px; }
.nicdark_padding_left_0 { padding-left: 0px; }
/*right*/
.nicdark_padding_right_0 { padding-right: 0px; }
.nicdark_padding_right_5 { padding-right: 5px; }
.nicdark_padding_right_10 { padding-right: 10px; }
.nicdark_padding_right_20 { padding-right: 20px; }
.nicdark_padding_right_40 { padding-right: 40px; }


/* 7.13 border */
/*border radius*/
.nicdark_border_radius_3 { border-radius: 3px; }
.nicdark_border_radius_50 { border-radius: 50px; }
.nicdark_border_radius_100_percentage { border-radius: 100%; }
/*general border*/
.nicdark_border_width_2 { border-width: 2px; }
.nicdark_border_0 { border: 0px solid #fff; }
.nicdark_border_1_solid_white { border: 1px solid #fff; }
.nicdark_border_2_solid_white { border: 2px solid #fff; }
.nicdark_border_2_solid_white_hover:hover { border: 2px solid #fff; }
.nicdark_border_1_solid_grey { border: 1px solid #f1f1f1; }
.nicdark_border_1_solid_grey_2 { border: 1px solid #a3a3a3; }
.nicdark_border_3_solid_white { border: 3px solid #fff; }
.nicdark_border_3_dashed_grey { border: 3px dashed #f1f1f1; }
.nicdark_border_1_solid_green { border: 1px solid #68B78C; }
.nicdark_border_1_solid_green_hover:hover { border: 1px solid #68B78C; }
.nicdark_border_2_solid_green { border: 2px solid #68B78C; }
.nicdark_border_1_solid_orange { border: 1px solid #ceb28d; }
/*border top*/
.nicdark_border_top_width_0{ border-top-width: 0px; }
.nicdark_border_top_1_solid_grey { border-top: 1px solid #f1f1f1; }
.nicdark_border_top_1_solid_greydark { border-top: 1px solid #595959; }
.nicdark_border_top_2_solid_grey { border-top: 2px solid #f1f1f1; }
/*border bottom*/
.nicdark_border_bottom_width_0{ border-bottom-width: 0px; }
.nicdark_border_bottom_width_2{ border-bottom-width: 2px; }
.nicdark_border_bottom_1_solid_grey { border-bottom: 1px solid #f1f1f1; }
.nicdark_border_bottom_2_solid_grey { border-bottom: 2px solid #f1f1f1; }
.nicdark_border_bottom_2_solid_greendark { border-bottom: 2px solid #64AB84; }
.nicdark_border_bottom_4_solid_white { border-bottom: 4px solid #fff; }
.nicdark_border_bottom_3_solid_white { border-bottom: 3px solid #fff; }
.nicdark_border_bottom_1_solid_greydark { border-bottom: 1px solid #595959; }
/*border left*/
.nicdark_border_left_width_0{ border-left-width: 0px; }
/*border right*/
.nicdark_border_right_width_0{ border-right-width: 0px; }


/* 7.14 box-sizing */
.nicdark_box_sizing_border_box { box-sizing: border-box; }


/* 7.15 list-style */
.nicdark_list_style_none { list-style: none; }


/* 7.16 display */
.nicdark_display_inline { display: inline; }
.nicdark_display_inline_block { display: inline-block; }
.nicdark_display_block { display: block; }
.nicdark_display_none { display: none; }
.nicdark_display_table { display: table; }
.nicdark_display_table_cell { display: table-cell; }

/* 7.17 vertical-align */
.nicdark_vertical_align_middle { vertical-align: middle; }
.nicdark_vertical_align_top { vertical-align: top; }
.nicdark_vertical_align_bottom { vertical-align: bottom; }

/* 7.18 float */
.nicdark_float_left { float: left; }
.nicdark_float_right { float: right; }


/* 7.19 bg size position repeat */
.nicdark_background_size_cover { background-size: cover; }
.nicdark_background_size_25 { background-size: 25px; }
.nicdark_background_position_center { background-position: center center; }
.nicdark_background_position_center_bottom { background-position: center bottom; }
.nicdark_background_position_center_top { background-position: center top; }
.nicdark_background_repeat_no_repeat { background-repeat: no-repeat; }


/* 7.20 position */
.nicdark_position_absolute { position: absolute; }
.nicdark_position_relative { position: relative; }
.nicdark_position_fixed { position: fixed; }


/* 7.21 right left top bottom */
.nicdark_right_300_negative { right: -300px; }
.nicdark_right_0 { right: 0; }
.nicdark_right_20 { right: 20px; }
.nicdark_left_0 { left: 0; }
.nicdark_left_10 { left: 10px; }
.nicdark_left_15 { left: 15px; }
.nicdark_left_65_negative { left: -65px; }
.nicdark_top_0 { top: 0; }
.nicdark_top_5 { top: 5px; }
.nicdark_top_40_negative { top: -40px; }
.nicdark_top_10_negative { top: -10px; }
.nicdark_top_5_negative { top: -5px; }
.nicdark_top_3_negative { top: -3px; }
.nicdark_top_10 { top: 10px; }
.nicdark_top_17 { top: 17px; }
.nicdark_top_20 { top: 20px; }
.nicdark_bottom_20 { bottom: 20px; }
.nicdark_bottom_30 { bottom: 30px; }
.nicdark_bottom_35_negative { bottom: -35px; }


/* 7.22 overflow */
.nicdark_overflow_hidden { overflow: hidden; }
.nicdark_overflow_x_auto { overflow-x: auto; }
.nicdark_overflow_y_auto { overflow-y: auto; }


/* 7.23 cursor */
.nicdark_cursor_move { cursor: move; }
.nicdark_cursor_pointer { cursor: pointer; }
.nicdark_cursor_zoom_out { cursor: zoom-out; }


/* 7.24 outline */
.nicdark_outline_0{ outline: 0; }


/* 7.25 z-index */
.nicdark_z_index_1_negative{ z-index: -1; }
.nicdark_z_index_9{ z-index: 9; }
.nicdark_z_index_99{ z-index: 99; }
.nicdark_z_index_999{ z-index: 999; }


/* 7.26 transition */
.nicdark_transition_all_08_ease{
    -webkit-transition: all 0.8s ease; -moz-transition: all 0.8s ease; -o-transition: all 0.8s ease; -ms-transition: all 0.8s ease; transition: all 0.8s ease;
}

/* 7.27 opacity */
.nicdark_opacity_0{ opacity: 0; }
.nicdark_opacity_07{ opacity: 0.7; }
.nicdark_opacity_05_hover:hover{ opacity: 0.5; }


/* 7.28 zoom */
.nicdark_zoom_1_1_hover:hover{ zoom: 1.1; }



/* ------------------------------------------------------- CUSTOM FOR THEME ------------------------------------------------------- */

/*nicdark_navigation_1*/
.nicdark_navigation_1 div > ul { list-style: none; margin: 0px; padding: 0px; text-align: right; }
.nicdark_navigation_1 div > ul > li { display: inline-block; padding: 10px 0px; }
.nicdark_navigation_1 div > ul > li:after { content: "|"; display: inline-block; margin: 0px 20px; color: #5a5a5a; }
.nicdark_navigation_1 div > ul > li:last-child:after { content: ""; margin: 0px; }
.nicdark_navigation_1 div li a { color: #fff; font-size: 16px; font-family: 'Montserrat'; }
.nicdark_navigation_1 div > ul li:hover > ul.sub-menu,
.nicdark_navigation_1 div > ul li:hover > ul.children { display: block; }
.nicdark_navigation_1 div > ul li > ul.sub-menu,
.nicdark_navigation_1 div > ul li > ul.children { z-index: 999; position: absolute; margin: 0px; padding: 0px; list-style: none; display: none; margin-left: -20px; padding-top: 20px; width: 170px; }
.nicdark_navigation_1 div > ul li > ul.sub-menu > li,
.nicdark_navigation_1 div > ul li > ul.children > li { padding: 10px 20px; border-bottom: 1px solid #f1f1f1; text-align: left; background-color: #fff; position: relative; box-shadow: 0px 2px 5px #f1f1f1; }
.nicdark_navigation_1 div > ul li > ul.sub-menu > li:hover,
.nicdark_navigation_1 div > ul li > ul.children > li:hover { background-color: #f9f9f9;  }
.nicdark_navigation_1 div > ul li > ul.sub-menu > li:last-child,
.nicdark_navigation_1 div > ul li > ul.children > li:last-child { border-bottom: 0px solid #000; }
.nicdark_navigation_1 div > ul li > ul.sub-menu li a,
.nicdark_navigation_1 div > ul li > ul.children li a { color: #727475; font-size: 14px; }
.nicdark_navigation_1 div > ul li > ul.sub-menu li > ul.sub-menu,
.nicdark_navigation_1 div > ul li > ul.children li > ul.children { margin-left: 150px; top: 0; padding-top: 0; padding-left: 20px; }

@media only screen /*and (min-width: 320px)*/ and (max-width: 1199px) {
    .nicdark_navigation_1 div > ul { text-align: center; }
}
@media only screen /*and (min-width: 320px)*/ and (max-width: 767px) {
    .nicdark_navigation_1 div > ul li > ul.sub-menu { margin-left: -85px; left: 50%; }
    .nicdark_navigation_1 div > ul > li:after { display: none; }
    .nicdark_navigation_1 div > ul > li { display: block; }
    .nicdark_navigation_1 div > ul li > ul.sub-menu li > ul.sub-menu { margin-left: -85px; left: 50%; top: 0; padding-top: 60px; }
}

/*nicdark_image_archive*/
.nicdark_image_archive img { float: left; width: 100%; height: auto; }

/*pagination*/
.navigation.pagination .nav-links { text-align: center; }
.navigation.pagination .nav-links .page-numbers { font-size: 20px; font-family: 'Montserrat'; margin: 0px 10px; }
.navigation.pagination .nav-links .page-numbers.current { color: #727475;  }

/*sidebar*/
.nicdark_sidebar .widget { margin-bottom: 40px; }
.nicdark_sidebar .widget img, .nicdark_sidebar .widget select { max-width: 100%; }
.nicdark_sidebar .widget h3 { margin-bottom: 20px; font-weight: bolder; }
.nicdark_sidebar .widget.widget_search #searchsubmit { color: #fff; background-color: #68B78C; border: 0px; }

/*list*/
.nicdark_sidebar .widget ul { margin: 0px; padding: 0px; list-style: none; }
.nicdark_sidebar .widget > ul > li { padding: 10px; border-bottom: 1px solid #f1f1f1; }
.nicdark_sidebar .widget > ul > li:last-child { padding-bottom: 0px; border-bottom: 0px solid #f1f1f1; }
.nicdark_sidebar .widget ul li { padding: 10px 0px; }
.nicdark_sidebar .widget ul.children { padding: 10px; }
.nicdark_sidebar .widget ul.children:last-child { padding-bottom: 0px; }

/*calendar*/
.nicdark_sidebar .widget.widget_calendar table { text-align: center; background-color: #fff; width: 100%; border: 1px solid #f1f1f1; line-height: 20px; }
.nicdark_sidebar .widget.widget_calendar table thead { color: #727475; }
.nicdark_sidebar .widget.widget_calendar table th { padding: 10px 5px; }
.nicdark_sidebar .widget.widget_calendar table td { padding: 10px 5px; }
.nicdark_sidebar .widget.widget_calendar table tbody td a { color: #fff; background-color: #68B78C; padding: 5px; border-radius: 3px; }
.nicdark_sidebar .widget.widget_calendar table tfoot td a { color: #fff; background-color: #444444; padding: 5px; border-radius: 3px; font-size: 13px; }
.nicdark_sidebar .widget.widget_calendar table tfoot td { padding-bottom: 20px; }
.nicdark_sidebar .widget.widget_calendar table tfoot td#prev { text-align: right; }
.nicdark_sidebar .widget.widget_calendar table tfoot td#next { text-align: left; }
.nicdark_sidebar .widget.widget_calendar table caption { font-size: 20px; color: #727475; font-weight: bolder; font-family: 'Montserrat'; background-color: #f9f9f9; padding: 20px; border: 1px solid #f1f1f1; border-bottom: 0px; }

/*menu*/
.nicdark_sidebar .widget div ul { margin: 0px; padding: 0px; list-style: none; }
.nicdark_sidebar .widget div > ul > li { padding: 10px; border-bottom: 1px solid #f1f1f1; }
.nicdark_sidebar .widget div > ul > li:last-child { padding-bottom: 0px; border-bottom: 0px solid #f1f1f1; }
.nicdark_sidebar .widget div ul li { padding: 10px 0px; }
.nicdark_sidebar .widget div ul.sub-menu { padding: 10px; }
.nicdark_sidebar .widget div ul.sub-menu:last-child { padding-bottom: 0px; }

/*tag*/
.nicdark_sidebar .widget.widget_tag_cloud a { padding: 5px 10px; border: 1px solid #f1f1f1; border-radius: 3px; display: inline-block; margin: 5px; margin-left: 0px; }

/*sticky*/
.sticky #nicdark_bg_date_archive { background-color: #CC8585; }

/*SINGLE POST/PAGE tag, link pages and comment*/
#nicdark_tags_list { color: #727475; font-family: 'Montserrat'; margin-top: 20px;  }
#nicdark_tags_list a { padding: 8px; border: 1px solid #f1f1f1; font-size: 13px; line-height: 13px; display: inline-block; margin: 5px 10px; margin-left: 0px; border-radius: 3px;  }

#nicdark_categories_list { color: #727475; font-family: 'Montserrat'; margin-top: 20px;  }
#nicdark_categories_list ul { margin: 0px; padding: 0px; }
#nicdark_categories_list ul li { padding: 8px; border: 1px solid #f1f1f1; font-size: 13px; line-height: 13px; display: inline-block; margin: 5px 10px; margin-left: 0px; border-radius: 3px; }


#nicdark_link_pages{ letter-spacing: 10px; }
#nicdark_link_pages a{ font-family: 'Montserrat'; }

.nicdark_comments_ul { margin:0px; padding: 0px; list-style: none; }
.nicdark_comments_ul li { margin:10px 0px; float: left; width: 100%; }
.nicdark_comments_ul li .children { margin:0px; padding: 10px 40px; list-style: none; }
@media only screen /*and (min-width: 320px)*/ and (max-width: 1199px) {
    .nicdark_comments_ul li .children { margin:0px; padding: 10px 10px; list-style: none; }
}
.nicdark_comments_ul li .reply a.comment-reply-link { color: #fff; margin-top: 10px; display: inline-block; line-height: 8px; border-radius: 3px; background-color: #68B78C; padding: 8px; font-size: 13px; text-transform: uppercase; }
.nicdark_comments_ul li .comment-author .fn, .nicdark_comments_ul li .comment-author .fn a { color: #727475; font-weight: bold; font-family: 'Montserrat'; font-style: normal; }
.nicdark_comments_ul li .comment-author img { border-radius: 100%; }
.nicdark_comments_ul li .comment-author { display: table; }
.nicdark_comments_ul li .comment-author .fn { display: table-cell; vertical-align: middle; padding: 0px 10px; }
.nicdark_comments_ul li .comment-author .says { display: table-cell; vertical-align: middle; }
.nicdark_comments_ul li .comment-author img { display: inline; vertical-align: middle; }

#nicdark_comments_form h3.comment-reply-title, #respond.comment-respond h3.comment-reply-title { font-weight: bolder; margin-bottom: 10px; }
#respond.comment-respond h3.comment-reply-title { margin-top: 20px; }
#nicdark_comments_form label, #nicdark_comments_form input[type='text'], #nicdark_comments_form textarea { float: left; width: 100%; }
#nicdark_comments_form input[type='submit'] { border: 0px; color: #fff; border-radius: 3px; background-color: #68B78C; margin-top: 10px; }
#nicdark_comments_form p { margin: 10px 0px; float: left; width: 100%; }

#commentform.comment-form label, #commentform.comment-form input[type='text'], #commentform.comment-form textarea { float: left; width: 100%; }
#commentform.comment-form input[type='submit'] { border: 0px; color: #fff; border-radius: 3px; background-color: #68B78C; margin-top: 10px; }
#commentform.comment-form p { margin: 10px 0px; float: left; width: 100%; }


/*Markup And Formatting*/
.nicdark_container_page_php p,
.nicdark_container_page_php h1,
.nicdark_container_page_php h2,
.nicdark_container_page_php h3,
.nicdark_container_page_php h4,
.nicdark_container_page_php h5,
.nicdark_container_page_php h6,
.nicdark_container_single_php p,
.nicdark_container_single_php h1,
.nicdark_container_single_php h2,
.nicdark_container_single_php h3,
.nicdark_container_single_php h4,
.nicdark_container_single_php h5,
.nicdark_container_single_php h6,
.nicdark_comments_php p,
.nicdark_comments_php h1,
.nicdark_comments_php h2,
.nicdark_comments_php h3,
.nicdark_comments_php h4,
.nicdark_comments_php h5,
.nicdark_comments_php h6
{ margin-top: 15px; margin-bottom: 15px; }

.nicdark_container_page_php a, .nicdark_container_single_php a { text-decoration: underline; color: #727475; }

.nicdark_comments_php blockquote, .nicdark_container_page_php blockquote, .nicdark_container_single_php blockquote { background-color: #f9f9f9;margin: 0px;padding: 5px 20px;box-sizing: border-box;border-left: 2px solid #f1f1f1;}
.nicdark_comments_php blockquote cite, .nicdark_container_page_php blockquote cite, .nicdark_container_single_php blockquote cite{ color: #727475;display: block;}

.nicdark_comments_php table, .nicdark_container_page_php table, .nicdark_container_single_php table { margin: 0px;padding: 0px;box-sizing: border-box;border: 1px solid #f1f1f1;width: 100%;}
.nicdark_comments_php table td,.nicdark_comments_php table th, .nicdark_container_page_php table td,.nicdark_container_page_php table th, .nicdark_container_single_php table td, .nicdark_container_single_php table th{margin: 0px;padding: 10px;box-sizing: border-box;border: 1px solid #f1f1f1;}
.nicdark_comments_php table th, .nicdark_container_page_php table th, .nicdark_container_single_php table th{ background-color: #f9f9f9;}

.nicdark_comments_php dl, .nicdark_comments_php dt,.nicdark_comments_php dd, .nicdark_container_page_php dl, .nicdark_container_page_php dt,.nicdark_container_page_php dd, .nicdark_container_single_php dl, .nicdark_container_single_php dt, .nicdark_container_single_php dd {margin: 0px; padding: 0px;}
.nicdark_comments_php dt, .nicdark_container_page_php dt,.nicdark_container_single_php dt { color: #727475;}
.nicdark_comments_php dd, .nicdark_container_page_php dd,.nicdark_container_single_php dd { margin-bottom: 20px;}

.nicdark_comments_php ins, .nicdark_container_page_php ins,.nicdark_container_single_php ins { background-color: #444;color: #fff;text-decoration: none;padding: 2px 5px;}

.nicdark_comments_php pre, .nicdark_container_page_php pre,.nicdark_container_single_php pre { margin: 0px;border: 1px solid #f1f1f1;box-sizing: border-box;padding: 20px; overflow: hidden; overflow-x: scroll;  }


.nicdark_container_page_php img,
.nicdark_container_single_php img,
.nicdark_container_page_php iframe,
.nicdark_container_single_php iframe,
.nicdark_comments_php img,
.nicdark_comments_php iframe
{ max-width: 100%; height: auto; }



/* ------------------------------------------------------- RESPONSIVE ------------------------------------------------------- */


/* 11 RESPONSIVE ------------------------------------------------------- */


/* 11.1 ipad land*/
@media only screen and (min-width: 960px) and (max-width: 1199px) {
    .nicdark_container{width:960px;}
    .nicdark_grid_1,.nicdark_grid_2,.nicdark_grid_3,.nicdark_grid_4,.nicdark_grid_5,.nicdark_grid_6,.nicdark_grid_7,.nicdark_grid_8,.nicdark_grid_9,.nicdark_grid_10,.nicdark_grid_11,.nicdark_grid_12{ width: 100%; }
}

/* 11.2 ipad port*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .nicdark_container {width:748px;}
    .nicdark_width_100_percentage_ipad_port { width: 100%; }
    .nicdark_grid_1,.nicdark_grid_2,.nicdark_grid_3,.nicdark_grid_4,.nicdark_grid_5,.nicdark_grid_6,.nicdark_grid_7,.nicdark_grid_8,.nicdark_grid_9,.nicdark_grid_10,.nicdark_grid_11,.nicdark_grid_12{ width: 100%; }
}

/* 11.3 iphone land*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
    body{ -webkit-text-size-adjust:none; }
    .nicdark_container {width:460px;}
    .nicdark_grid_1,.nicdark_grid_2,.nicdark_grid_3,.nicdark_grid_4,.nicdark_grid_5,.nicdark_grid_6,.nicdark_grid_7,.nicdark_grid_8,.nicdark_grid_9,.nicdark_grid_10,.nicdark_grid_11,.nicdark_grid_12{ width: 100%; }
}

/* 11.4 iphone port*/
@media only screen /*and (min-width: 320px)*/ and (max-width: 479px){
    body{ -webkit-text-size-adjust:none; }
    .nicdark_container{ width:300px;}
    .nicdark_width_100_percentage_iphone_port { width: 100%; }
    .nicdark_text_align_left_iphone_port { text-align: left; }
    .nicdark_grid_1,.nicdark_grid_2,.nicdark_grid_3,.nicdark_grid_4,.nicdark_grid_5,.nicdark_grid_6,.nicdark_grid_7,.nicdark_grid_8,.nicdark_grid_9,.nicdark_grid_10,.nicdark_grid_11,.nicdark_grid_12{ width: 100%; }
}

/* 11.5 all responsive*/
@media only screen /*and (min-width: 320px)*/ and (max-width: 1199px) {

    .nicdark_display_none_all_responsive { display: none; }
    .nicdark_display_block_responsive { display: block; }
    .nicdark_width_100_percentage_responsive { width: 100%; }
    .nicdark_width_50_percentage_responsive { width: 50%; }
    .nicdark_text_align_center_responsive { text-align: center; }
    .nicdark_text_align_left_responsive { text-align: left; }
    .nicdark_margin_top_5_responsive { margin-top: 5px; }
    .nicdark_border_top_1_solid_greydark_responsive { border-top: 1px solid #595959; }
    .nicdark_cursor_move_responsive { cursor: move; }
    .nicdark_font_size_40_responsive { font-size: 40px; }
    .nicdark_line_height_40_responsive { line-height: 40px; }

}

/* 11.6 all iphone*/
@media only screen /*and (min-width: 320px)*/ and (max-width: 767px) {

    .nicdark_display_none_all_iphone { display: none; }
    .nicdark_display_block_all_iphone { display: block; }
    .nicdark_width_100_percentage_all_iphone { width: 100%; }
    .nicdark_width_50_percentage_all_iphone { width: 50%; }
    .nicdark_width_50_all_iphone { width: 50px; }
    .nicdark_width_250_all_iphone { width: 250px; }
    .nicdark_text_align_center_all_iphone { text-align: center; }
    .nicdark_padding_right_0_all_iphone { padding-right: 0px; }
    .nicdark_padding_left_0_all_iphone { padding-left: 0px; }
    .nicdark_padding_0_all_iphone { padding: 0px; }
    .nicdark_padding_40_all_iphone { padding: 40px; }
    .nicdark_font_size_40_all_iphone { font-size: 40px; }
    .nicdark_font_size_20_all_iphone { font-size: 20px; }
    .nicdark_font_size_10_all_iphone { font-size: 10px; }
    .nicdark_line_height_40_all_iphone { line-height: 40px; }
    .nicdark_line_height_20_all_iphone { line-height: 20px; }
    .nicdark_position_relative_all_iphone { position: relative; }
    .nicdark_margin_top_20_all_iphone { margin-top: 20px; }

}


/*/////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////*/
/* CUSTOM CSS */
/*/////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////*/
p {
    line-height: 25px;
}
.nd_options_bg_greydark_alpha_gradient_2 ,
.nd_learning_bg_greydark_alpha_gradient_2 {
    background: -moz-linear-gradient(top, rgba(3, 32, 43,0.8) 10%, rgba(3, 32, 43,0.3) 35%, rgba(3, 32, 43,0.3) 45%, rgba(3, 32, 43,0.8) 100%);
    background: -webkit-linear-gradient(top, rgba(3, 32, 43,0.8) 10%,rgba(3, 32, 43,0.3) 35%,rgba(3, 32, 43,0.3) 45%,rgba(3, 32, 43,0.8) 100%);
    background: linear-gradient(to bottom, rgba(3, 32, 43,0.8) 10%,rgba(3, 32, 43,0.3) 35%,rgba(3, 32, 43,0.3) 45%,rgba(3, 32, 43,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99656460', endColorstr='#99656460',GradientType=0 );
}
.nd_learning_height_28{
	height:28px !important;
}
/* BACKGROUND SEARCH */
.nd_options_bg_greydark_alpha_9 {
	background-color: rgba(3, 32, 43, 0.95);
}
/* TOP MENU */
#nd_options_navigation_2_top_header{
	background: #f9f9f9 !important;
}
.nd_options_navigation_top_header_2 .nd_options_margin_right_10{
	margin-right:10px !important;
}
#nd_options_navigation_2_top_header{
	background:#f9f9f9 !important;
	color: #a3a3a3 !important;
}
/* MENU */
.nd_options_navigation_2 div > ul li > ul.sub-menu {
    width: 200px !important;
}
img.logo1{
	width: auto;
	height:auto;
	max-height:60px !important;
}
img.logo2{
	width: auto;
	height:auto;
	max-height:60px !important;
}
.logo-aenor{
	width: auto;
	height:auto;
	max-height:60px !important;
	top:17px !important;
	left: 210px;
	margin-left: 10px;
}
/* HOME 1 */
.page-id-202 .nd_learning_masonry_item.nd_learning_width_25_percentage .nd_learning_bg_white {
	height:100px !important;
}
.page-id-202 .nd_learning_masonry_item.nd_learning_width_50_percentage .nd_learning_bg_white {
	height:130px !important;
}
/* HOME 1 */
.page-id-897 .nd_learning_width_50_percentage .nd_learning_bg_white {
	height:100px !important;
}
/* HOME 1 */
body.home .woocommerce h3{
	position: relative;
    color: white;
    padding: 20px 20px!important;
	text-align: center;
    margin-bottom: -50px !important;
}
body.home .woocommerce li img{
	margin-bottom: -100px !important;
}
body.home .woocommerce a[rel="nofollow"]{
	display:none;
}
body.home .nd_learning_masonry_item {
	padding: 0px !important;
}
body.home .nd_learning_width_100_percentage.nd_learning_masonry_item{
	padding: 0px !important;
}
body.home .nd_learning_width_50_percentage.nd_learning_masonry_item:nth-child(even){
	padding-left: 15px !important;
}
body.home .nd_learning_width_50_percentage.nd_learning_masonry_item:nth-child(odd){
	padding-right: 15px !important;
}
body.home .vc_col-lg-6 .nd_learning_section.nd_learning_masonry_content {
    margin-bottom: 15px;
}
body.home .nd_learning_section.nd_learning_masonry_content {
    margin-bottom: 25px;
}
body.home .nd_learning_masonry_item .nd_learning_bg_grey .nd_learning_width_33_percentage:nth-child(1) {
	margin-bottom:5px;
}
body.home .nd_learning_masonry_item .nd_learning_bg_grey .nd_learning_width_33_percentage:last-child {
	position: relative;
}
body.home .vc_col-lg-3 ,
body.home .vc_col-lg-6{
    margin-bottom: -5px !important;
	float:left !important;
}
body.home .vc_col-lg-3 .products li,
body.home .vc_col-lg-6 .products li{
	height: 270px !important;
    width: 100% !important;
    overflow: hidden !important;
	margin-bottom: 0px !important;
}
body.home .vc_col-lg-3 .products li h3,
body.home .vc_col-lg-6 .products li h3{
    height: 60px!important;
	text-align: left !important;
}
body.home .vc_col-lg-6 .products li h3{
	top: -300px !important;
}
body.home h3 mark{
	display:none !important;
}
body.home .vc_parallax-inner:after{
	background: none;
	background: none; 
}
body.home .no-background .nd_learning_bg_greydark_alpha_gradient_3 {
	background: none;
}
body.home .no-background .nd_learning_bg_greydark_alpha_gradient_3 .nd_options_first_font{
	color:black !important;
}

/* Call to action Home */
body.home .vc_general.vc_cta3.vc_cta3-style-custom.vc_cta3-shape-rounded.vc_cta3-align-center.vc_cta3-icon-size-md .vc_custom_heading a{
	color:white !important;
}
/* HOME 2 */
.page-id-198 .nd_learning_masonry_item.nd_learning_width_33_percentage .nd_learning_bg_white {
	height:180px !important;
}
.page-id-198 option {
    color: #303030 !important;
}
.page-id-198 .nd_learning_masonry_item .nd_learning_margin_right_10{
	margin-right:3px;
}
.product .nd_learning_masonry_item .nd_learning_margin_right_10{
	margin-right:3px;
}
/* HOME 3 */
.page-id-200 .nd_learning_masonry_item.nd_learning_width_33_percentage .nd_learning_bg_white {
	height:180px !important;
}
/* HOME 5 */
.page-id-204 .nd_learning_masonry_item.nd_learning_width_33_percentage .nd_learning_bg_white {
	height:180px !important;
}
/* CATALOGO */
.page-id-1039 .nd_learning_masonry_item .nd_learning_bg_white .nd_learning_height_20{
	height:10px !important;
}
.page-id-1039 .nd_learning_masonry_item .nd_learning_bg_white > a{
	position: absolute !important;
    left: 35px !important;
    bottom: 35px !important;
}
.page-id-1039 .nd_learning_masonry_item .nd_learning_margin_right_10{
	margin-right:3px;
}
.post-type-archive .nd_learning_masonry_item .nd_learning_bg_grey .nd_learning_width_33_percentage:nth-child(1) {
	margin-bottom:5px;
}
.post-type-archive .nd_learning_masonry_item .nd_learning_bg_white .nd_learning_height_20 {
    height: 10px !important;
}
/* height equal catalogue */
.page-id-1039 .nd_learning_masonry_item{
	height:491px;
}
/* height equal catalogue "cursos"*/
.page-id-294 .nd_learning_masonry_item{
	height:491px;
}
/* height equal catalogue "courses"*/
.post-type-archive-courses .nd_learning_masonry_item{
	height: 500px;
}
/* Catalogue courses with videos */
.layout-video {
    overflow: hidden;
}
.layout-video img.nd_learning_section{
	width: auto;
}
.l3 img.nd_learning_section{
	height:244px;
}
.preview-video .nd_options_mpopup_iframe{
	position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
	text-align: center;
}
.preview-video .custom-iframe{
	position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preview-video .nd_options_mpopup_iframe img{
	width: auto;
    height: 70px;
}
.preview-video-xs .nd_options_mpopup_iframe img{
	width: auto;
    height: 40px;
    top: -10px;
    position: relative;
}
.preview-video .custom-iframe img{
	width: auto;
    height: 70px;
}
.preview-video-xs .custom-iframe img{
	width: auto;
    height: 40px;
    top: -10px;
    position: relative;
}
/* CURSO INDIVIDUAL */
#nd_learning_single_course_header_img_price {
    position: relative;
}
#nd_learning_single_course_header_img_price .nd_learning_single_course_header_img_price{
	float: none;
    right: 0;
    position: absolute;
    display: block;
}
#nd_learning_single_course_header_img_price .nd_learning_single_course_header_img_price:last-child{
	top:65px;
}
.single-courses .nd_learning_masonry_item .nd_learning_bg_white {
	height:220px !important;
}
.single-courses .nd_learning_masonry_item .nd_learning_margin_right_10{
	margin-right:3px;
}
.single-courses .yuzo_related_post h3 {
	text-align: center !important;
}
.single-courses .yuzo_wraps {
	text-align: center !important;
}
.single-courses .yuzo_wraps .relatedthumb{
	float:none !important;
	display:inline-block !important;
	height:180px !important;
}
.single-courses [data-vc-action="collapse"] .wpb_content_element ,
.single-courses [data-vc-action="collapse"] .quitar_espacios .wpb_content_element {
	margin-bottom: 0px !important;
}
.single-courses [data-vc-action="collapse"] .quitar_espacios a,
.single-courses [data-vc-action="collapse"] .quitar_espacios a.button-scorm {
	float: left;
}
.single-courses [data-vc-action="collapse"] .vc_column-inner {
	padding-top: 0px;
}
.single-courses a.sharer.button {
	cursor:pointer;
}
.single-courses .commentmetadata {
	display:none !important;
}
.vc_sep_line{
	border-color: transparent !important;
}
#sidebar-course.scrolled table{
	width: 100.5% !important;
}
#sidebar-course.scrolled .sidebar-dinamic{
	position: fixed;
    top: 20px;
	width: 33.33%;
	background: white;
    z-index: 999;
}
#sidebar-course.scrolled.max .sidebar-dinamic{
	position: relative;
	padding-top: 0px;
}
#nd_learning_single_course_contact_form_container > div{
	padding:15px !important;
}
td.nd_learning_padding_20{
	padding:15px 20px;
}
#nd_learning_single_course_all_book_buttons{
	width:100% !important;
}
.scorm-inline-button .wpb_wrapper .wpb_content_element{
	display: inline-block;
    float: left;
    width: auto;
}
.scorm-inline-button .wpb_wrapper .nd_options_section{
	display: inline-block;
    float: left;
    width: auto;
    margin-left: 10px;
	position:relative;
	top:-2px;
}
.vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-body.vc_oculto {
	display:none !important;
}
.single-courses .wpb_wrapper h1.hide{
	display:none;
}
.single-courses .wpb_wrapper p.hide{
	display:none;
}
.single-courses select{
	color: black !important;
}
.single-courses select.homologable{
	color:#0093C9 !important;
}
.single-courses select option{
	color: black !important;
}
.single-courses select option.homologable{
	color:#0093C9 !important;
}
.single-courses p.info-homologable{
	color: #0093C9;
	padding-left:10px;
	font-size: 0.8em;
	margin:5px 0px;
}
.single-courses p.info-homologable span{
	width: 10px;
    height: 10px;
    background: #0093C9;
    display: inline-block;
}
/* LOGOS OVER HEADER PRICE */
#nd_learning_single_course_header_img_price {
	position: absolute; 
	bottom:70px;
	right:10px;
}
#nd_learning_single_course_header_homologacion_MECD{
    bottom: 190px;
    right: -5px;
}
#nd_learning_single_course_header_homologacion_URJC{
    bottom: 250px;
    right: -5px;
}
/* LOGOS OVER IMAGE */
.nd_learning_top_10{
	top:10px;
} 
.nd_learning_right_10{
	right:10px;
}
.nd_learning_bottom_10{
	bottom:10px;
}
.logo-homologacion{
	float:left;
	display: inline-block;
}

.logo-homologacion p{
    font-size: 0.7em;
	line-height: 1em;
    height: auto;
    margin-bottom: 1px;
	margin-left:5px;
	font-weight: bold;
	color: white !important;
}
.logo-homologacion img{
	height:40px;
	width:auto;
	margin-left:5px;
}
.logo-homologacion.xs img{
	height:30px;
	width:auto;
	margin-left:5px;
}
.logo-homologacion.right{
	float:right;
}
.logo-homologacion.half-width{
	height:15px;
}
.logo-homologacion.half-width img{
	height:15px;
}
.logo-homologacion-plazas{
	height:20px;
    display: block;
}
.logo-homologacion-plazas img{
	height:20px;
	width:auto;
}
.div-preview-video{
	position:relative;
}
.div-preview-video .nd_learning_left_20{
	left:20px;
}
.single-courses .symbol{
	font-size: 20px;
    line-height: 22px;
    text-align: right;
    vertical-align: bottom;
}
#nd_learning_single_course_table_info .symbol{
	font-size: 17px;
    line-height: 17px;
}
/* SINGLE COURSES WITH VIDEO */
.postid-1260 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* Working */
.postid-1265 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* Regletas */
.postid-1270 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* AICLE */
.postid-1279 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* Saludable */
.postid-1282 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* Competencias */
.postid-1283 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* B1 */
.postid-1288 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* Docentes */
.postid-1290 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* Proyectos */
.postid-1293 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* Cooperativo */
.postid-1296 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* Ipad */
.postid-1298 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient,  /* Altas capacidades */
.postid-1301 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* Evaluacion educativa */
.postid-1304 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* Orientación Educativa */
.postid-1307 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* Mediacion */
.postid-1309 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* Multicultural */
.postid-1311 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* B2 */
.postid-1313 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* Coaching */
.postid-1315 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* Inteligencias multiples */
.postid-1318 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* Aprendizaje 2.0 */
.postid-1320 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* Emocional */
.postid-1322 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* Bilingüe */
.postid-1325 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* Google */
.postid-1327 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* Pizarra */
.postid-1329 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* Didactico */
.postid-1331 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* Diseño web */
.postid-1334 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* Redes sociales */
.postid-1336 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* M-Learning */
.postid-1339 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* Multimedia */
.postid-1341 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* Colaborativo 2.0 */
.postid-1343 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* Plataformas E-Ducativas */
.postid-1345 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* Lectura */
.postid-1349 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* Ciencias */
.postid-1352 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* Matematicas */
.postid-1356 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* Diversidad */
.postid-1357 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient, /* Practica docentes */
.postid-8551 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient,	 /* Bullying */
.postid-8664 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient,	 /* Mobilde Learning */
.postid-8675 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient,	 /* Gamificacion */
.postid-8686 .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient	 /* A2 */
{ 
	background: transparent !important;
}
.single-courses .div-preview-image-course .nd_learning_bg_greydark_alpha_gradient{ 
	background: transparent !important;
}
.postid-1260 .div-preview-image-course, /* Working */
.postid-1265 .div-preview-image-course, /* Regletas */
.postid-1270 .div-preview-image-course, /* AICLE */
.postid-1279 .div-preview-image-course, /* Saludable */
.postid-1282 .div-preview-image-course, /* Competencias */
.postid-1283 .div-preview-image-course, /* B1 */
.postid-1288 .div-preview-image-course, /* Docentes */
.postid-1290 .div-preview-image-course, /* Proyectos */
.postid-1293 .div-preview-image-course, /* Cooperativo */
.postid-1296 .div-preview-image-course, /* Ipad */
.postid-1298 .div-preview-image-course,  /* Altas capacidades */
.postid-1301 .div-preview-image-course, /* Evaluacion educativa */
.postid-1304 .div-preview-image-course, /* Orientación Educativa */
.postid-1307 .div-preview-image-course, /* Mediacion */
.postid-1309 .div-preview-image-course, /* Multicultural */
.postid-1311 .div-preview-image-course, /* B2 */
.postid-1313 .div-preview-image-course, /* Coaching */
.postid-1315 .div-preview-image-course, /* Inteligencias multiples */
.postid-1318 .div-preview-image-course, /* Aprendizaje 2.0 */
.postid-1320 .div-preview-image-course, /* Emocional */
.postid-1322 .div-preview-image-course, /* Bilingüe */
.postid-1325 .div-preview-image-course, /* Google */
.postid-1327 .div-preview-image-course, /* Pizarra */
.postid-1329 .div-preview-image-course, /* Didactico */
.postid-1331 .div-preview-image-course, /* Diseño web */
.postid-1334 .div-preview-image-course, /* Redes sociales */
.postid-1336 .div-preview-image-course, /* M-Learning */
.postid-1339 .div-preview-image-course, /* Multimedia */
.postid-1341 .div-preview-image-course, /* Colaborativo 2.0 */
.postid-1343 .div-preview-image-course, /* Plataformas E-Ducativas */
.postid-1345 .div-preview-image-course, /* Lectura */
.postid-1349 .div-preview-image-course, /* Ciencias */
.postid-1352 .div-preview-image-course, /* Matematicas */
.postid-1356 .div-preview-image-course, /* Diversidad */
.postid-1357 .div-preview-image-course, /* Practica docentes */
.postid-8551 .div-preview-image-course, /* Bullying */
.postid-8664 .div-preview-image-course,	 /* Mobilde Learning */
.postid-8675 .div-preview-image-course, /* Gamificacion */
.postid-8686 .div-preview-image-course  /* A2 */
{
	position: relative;
    top: 274px;
    height: 1px;
    z-index: 1;
	display: none;
}
.single-courses .div-preview-image-course{
	/*position: relative;*/
    /*top: 274px;*/
    /*height: 1px;*/
    /*z-index: 1;*/
	/*display: none;*/
}
.postid-1260 .nd_learning_section+.nd_learning_height_40, /* Working */
.postid-1265 .nd_learning_section+.nd_learning_height_40, /* Regletas */
.postid-1270 .nd_learning_section+.nd_learning_height_40, /* AICLE */
.postid-1279 .nd_learning_section+.nd_learning_height_40, /* Saludable */
.postid-1282 .nd_learning_section+.nd_learning_height_40, /* Competencias */
.postid-1283 .nd_learning_section+.nd_learning_height_40, /* B1 */
.postid-1288 .nd_learning_section+.nd_learning_height_40, /* Docentes */
.postid-1290 .nd_learning_section+.nd_learning_height_40, /* Proyectos */
.postid-1293 .nd_learning_section+.nd_learning_height_40, /* Cooperativo */
.postid-1296 .nd_learning_section+.nd_learning_height_40, /* Ipad */
.postid-1298 .nd_learning_section+.nd_learning_height_40, /* Altas capacidades */
.postid-1301 .nd_learning_section+.nd_learning_height_40, /* Evaluacion educativa */
.postid-1304 .nd_learning_section+.nd_learning_height_40, /* Orientación Educativa */
.postid-1307 .nd_learning_section+.nd_learning_height_40, /* Mediacion */
.postid-1309 .nd_learning_section+.nd_learning_height_40, /* Multicultural */
.postid-1311 .nd_learning_section+.nd_learning_height_40, /* B2 */
.postid-1313 .nd_learning_section+.nd_learning_height_40, /* Coaching */
.postid-1315 .nd_learning_section+.nd_learning_height_40, /* Inteligencias multiples */
.postid-1318 .nd_learning_section+.nd_learning_height_40, /* Aprendizaje 2.0 */
.postid-1320 .nd_learning_section+.nd_learning_height_40, /* Emocional */
.postid-1322 .nd_learning_section+.nd_learning_height_40, /* Bilingüe */
.postid-1325 .nd_learning_section+.nd_learning_height_40, /* Google */
.postid-1329 .nd_learning_section+.nd_learning_height_40, /* Didactico */
.postid-1331 .nd_learning_section+.nd_learning_height_40, /* Diseño web */
.postid-1334 .nd_learning_section+.nd_learning_height_40, /* Redes sociales */
.postid-1336 .nd_learning_section+.nd_learning_height_40, /* M-Learning */
.postid-1339 .nd_learning_section+.nd_learning_height_40, /* Multimedia */
.postid-1341 .nd_learning_section+.nd_learning_height_40, /* Colaborativo 2.0 */
.postid-1343 .nd_learning_section+.nd_learning_height_40, /* Plataformas E-Ducativas */
.postid-1345 .nd_learning_section+.nd_learning_height_40, /* Lectura */
.postid-1349 .nd_learning_section+.nd_learning_height_40, /* Ciencias */
.postid-1352 .nd_learning_section+.nd_learning_height_40, /* Matematicas */
.postid-1356 .nd_learning_section+.nd_learning_height_40, /* Diversidad */
.postid-1357 .nd_learning_section+.nd_learning_height_40, /* Practica docentes */
.postid-8551 .nd_learning_section+.nd_learning_height_40, /* Bullying */
.postid-8664 .nd_learning_section+.nd_learning_height_40, /* Mobilde Learning */
.postid-8675 .nd_learning_section+.nd_learning_height_40, /* Gamificacion */
.postid-8686 .nd_learning_section+.nd_learning_height_40  /* A2 */
{
    height: 0px !important;
}
.single-courses .nd_learning_section+.nd_learning_height_40{
    height: 0px !important;
}


.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-body { /* Acordeon */
    background-color: white;
}
select[name=date]{
	margin-bottom: 10px;
	/* make arrow and background */

	background:
		linear-gradient(45deg, transparent 50%, grey 50%),
		linear-gradient(135deg, grey 50%, transparent 50%);
	background-position:
		calc(100% - 20px) calc(1em + 2px),
		calc(100% - 11px) calc(1em + 2px),
		100% 0;
	background-size:
		10px 10px,
		10px 10px,
		2.5em 2.5em;
	background-repeat: no-repeat;


	/* reset */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance:none;
	-moz-appearance:none;
}
/* LISTADO PROFESORES */
.page-id-296 .nd_learning_masonry_item{
	margin-bottom: 20px !important;
}
.page-id-296 .nd_learning_section.nd_learning_box_sizing_border_box{
	height:220px !important;
}
.page-id-296 .nd_learning_section.nd_learning_box_sizing_border_box a{
    position: absolute;
    bottom: 0px;
    left: 35px;
    width: 100px;
    text-align: center;
}
/* PROFESOR INDIVDUAL */
#nd_learning_single_teacher_table_info .email-teacher td:first-child{
    padding-right:10px !important;
}
#nd_learning_single_teacher_table_info .email-teacher td:last-child{
    padding-left:10px !important;
}
#nd_learning_single_teacher_table_info h4{
    word-break: break-all;
}
#nd_learning_single_teacher_table_info h4 span{
    font-size:0.8em;
}
/* PRODUCTO INDIVIDUAL */
.single-product .related.products h2{
	text-align: center !important;
}
.single-product ul.products{
	text-align: center !important;
}
.single-product li.product{
    float: none !important;
    display: inline-block !important;
}
.single-product li.product h3{
    height:70px !important;
}
.related.products ul.products li.product h3{
	height: 60px !important;
	overflow: hidden;
}
.related.products ul.products li.product a[rel="nofollow"]{
	margin-top:0.5em;
}
.single-product .nd_learning_masonry_item .nd_learning_bg_white{
	height: 80px;
}
.woocommerce-error{
	display:none !important;
}
.single-product select{
	margin-bottom:20px;
	margin-bottom: 10px;
	/* make arrow and background */
	background:
		linear-gradient(45deg, transparent 50%, grey 50%),
		linear-gradient(135deg, grey 50%, transparent 50%);
	background-position:
		calc(100% - 20px) calc(1em + 2px),
		calc(100% - 11px) calc(1em + 2px),
		100% 0;
	background-size:
		10px 10px,
		10px 10px,
		2.5em 2.5em;
	background-repeat: no-repeat;
	/* reset */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance:none;
	-moz-appearance:none;
}
/* CALENDAR */
#nd_learning_calendar_single_course a.ui-state-default {
    background-color: #0093C9;
}
/* SEARCH */
.search-results .nd_options_masonry_item .nd_options_section.nd_options_box_sizing_border_box h5{
	display:none !important;
}
.search-results .nd_options_masonry_item .nd_options_section.nd_options_box_sizing_border_box{
	height:320px !important;
}
.search-results .nd_options_masonry_item .nd_options_section.nd_options_box_sizing_border_box a{
    position: absolute;
    bottom: 35px;
    left: 35px;
    text-align: center;
}
/* LANGUAGE SWITCHER */
.switcher,
.switcher2{
	width:100px !important;
	height:17px !important;
	margin-right: 6px !important;
}
.switcher .selected ,
.switcher2 .selected {
	width:100% !important;
	height:100% !important;
	z-index: 1 !important;
	background:#f9f9f9 !important;
	color: #a3a3a3 !important;
}
.switcher a ,
.switcher2 a {
	background:#f9f9f9 !important;
	color: #a3a3a3 !important;
	width:88px !important;
	/*height:100% !important;*/
	padding: 0px 5px !important;
	border: none !important;
}
.switcher .option,
.switcher2 .option{
	width:100px !important;
    position: absolute !important;
}
.switcher .option a,
.switcher2 .option a{
	padding: 3px 5px !important;
}
.switcher2 {font-family:Arial;font-size:10pt;text-align:left;cursor:pointer;overflow:hidden;width:163px;line-height:17px;}
.switcher2 a {text-decoration:none;display:block;font-size:10pt;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
.switcher2 a img {vertical-align:middle;display:inline;border:0;padding:0;margin:0;opacity:0.8;}
.switcher2 a:hover img {opacity:1;}
.switcher2 .selected {background:#FFFFFF url(http://aulasmarteditorial.com/wp-content/plugins/gtranslate/switcher.png) repeat-x;position:relative;z-index:9999;}
.switcher2 .selected a {border:1px solid #CCCCCC;background:url(http://aulasmarteditorial.com/wp-content/plugins/gtranslate/arrow_down.png) 146px center no-repeat;color:#666666;padding:3px 5px;width:151px;}
.switcher2 .selected a.open {background-image:url(http://aulasmarteditorial.com/wp-content/plugins/gtranslate/arrow_up.png)}
.switcher2 .selected a:hover {background:#F0F0F0 url(http://aulasmarteditorial.com/wp-content/plugins/gtranslate/arrow_down.png) 146px center no-repeat;}
.switcher2 .option {position:relative;z-index:9998;border-left:1px solid #CCCCCC;border-right:1px solid #CCCCCC;border-bottom:1px solid #CCCCCC;background-color:#EEEEEE;display:none;width:161px;max-height:198px;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;overflow-y:auto;overflow-x:hidden;}
.switcher2 .option a {color:#000;padding:3px 5px;}
.switcher2 .option a:hover {background:#FFC;}
.switcher2 .option a.selected {background:#FFC;}
#selected_lang_name {float: none;}
.l_name {float: none !important;margin: 0;}
.switcher2 .option::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 3px rgba(0,0,0,0.3);border-radius:5px;background-color:#F5F5F5;}
.switcher2 .option::-webkit-scrollbar {width:5px;}
.switcher2 .option::-webkit-scrollbar-thumb {border-radius:5px;-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);background-color:#888;}
/* EDIT PROFILE*/
#mi-perfil-tabs{

}
#mi-perfil-tabs .ui-tabs-panel{
	/*width:70% !important;*/
	margin: 0 auto !important;
	/*float: none !important;*/
}
.tabs-miacuerdo{
	border: solid 1px #f1f1f1;
    border-radius: 3px;
    margin: 10px auto!important;
	/*padding:20px;*/
}
.tabs-miacuerdo .h3-acuerdo{
    margin: 0px auto!important;
	padding:20px 40px;
}
.tabs-miacuerdo table{
    width:95%;
	margin:20px;
}
.tabs-miacuerdo table thead th{
    text-align: left;
}
.tabs-miacuerdo table .delete{
    cursor:pointer;
}
.tabs-miacuerdo select{
    background: linear-gradient(50deg, transparent 50%, grey 50%), linear-gradient(135deg, grey 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 11px) calc(1em + 2px), 100% 0;
    background-size: 10px 10px, 10px 10px, 2.5em 2.5em;
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.tabs-miacuerdo .img-curso-acuerdo{
	width:30px;
	height:30px;
	border-radius:50%;
	overflow:hidden;
	display:inline-block;
	margin-right:10px;
	top:10px;
	position:relative;
}
.tabs-miacuerdo .img-curso-acuerdo img{
	height:100%;
	width:auto;
}
.tabs-miacuerdo .container-historial-acuerdo{
	width:95%;
	margin:0 auto;
	float:none;
}
.tabs-miacuerdo .container-historial-acuerdo p {
	top:-5px;
	position:relative;
}

#mi-perfil-tabs select,
#mi-perfil-tabs input{
	width:100% !important;
}
#mi-perfil-tabs #preview-avatar{
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 2px;
    background: grey;
}
#ui-datepicker-div{
	background: white !important;
	border: solid 1px #a3a3a3 !important;
	border-radius: 2px !important;
}
.ui-datepicker-calendar td a{
	padding: 8px!important;
}
.ui-datepicker-title{
	text-align: center;
	font-weight: bold;
}
[data-handler="prev"]{
	float: left;	
	padding: 8px!important;
}
[data-handler="next"]{
	float: right;	
	padding: 8px!important;
}
/* NOTIFICATION */
#notification{
	position: fixed;
    background: #0093C9;
    width: 100%;
    left: 0;
    z-index: 999;
}
#notification.success{
    background: #0093C9;
}
#notification.error{
    background: #ca3e12;
}
#notification p{
    color: white !important;
    padding: 10px 30px !important;
}
#closeNotification{
    color: white !important;
	cursor:pointer;
	float:right;
}
/* ITINERARIOS PAGE */
.page-id-7955 [data-vc-full-width]{
	min-height: auto !important;
	padding-bottom: 40px !important;
}
.page-id-7955 .woocommerce.columns-3 ul.products li.product h3{
	height: 70px !important;
	overflow: hidden;
}
/* CAMPUS PAGE */
.page-id-8129 .row-info-campus .vc_column-inner{
	display: flex;
    justify-content: center;
    align-items: center;
	position: relative;
}
.page-id-8129 .row-image-full-height .left-height .wpb_wrapper{
	height:100% !important;
	width:100% !important;
	position: absolute;
}
.page-id-8129 .row-image-full-height .left-height .wpb_wrapper .gambit-row-fullheight {
    height: 100%!important;
}
.page-id-8129 .row-image-full-height .left-height .wpb_wrapper .gambit-row-fullheight .gambit_parallax_inner {
    height: 100%!important;
}
.page-id-8129 .vc_custom_1492618342576 > .wpb_wrapper > .vc_row-fluid{
	position:relative;
	z-index:9999;
}
.parallax-inner-1493027599442{
	width:100% !important;
}
/* BUY PAGE */
.page-id-397 .hidden{
	display:none !important;
}
.page-id-397 form{
	text-align:center;
}
/* COMPARE PAGE */
.page-id-399 .nd_learning_width_25_percentage{
	overflow: hidden;
	/*overflow-x: auto;*/
}
.page-id-399 table p{
	white-space: nowrap !important;
}
.page-id-399 table h3{
	height:40px;
}
/* FOOTER */
#nd_options_footer_4{
	background-color: #333;
}
#nd_options_footer_4 a{
	color: white;
}
#nd_options_footer_4_copyright{
	background-color: #333;
	color: #999;
}
#nd_options_footer_4_copyright > div{
	border-top:none !important;
}
#nd_options_footer_4_copyright .nd_options_grid_6{
}
#nd_options_footer_4 .wpb_widgetised_column{
    padding: 0px !important;
}
.wpb_widgetised_column .widget {
    margin-bottom: 0px !important;
}
#nd_options_footer_4 #menu-menu-footer {
    text-align: center !important;
}
#nd_options_footer_4 .wpb_widgetised_column .widget div ul li {
	border-bottom: none !important;
    font-size: 0.8em !important;
    display: inline-block;
}
#nd_options_footer_4 .nd_options_section.nd_options_height_10,
#nd_options_footer_4 .nd_options_section.nd_options_height_50{
	display:none;
}
/* CENTERS PAGE */
.mapa-centros iframe{
	width: 100% !important;
    margin: 10px auto;
    height: 100% !important;
    min-height: 600px;
    border: none;
    outline: inset 1px #0093C9;
    padding: 3px;
    border-radius: 2px;
}
/* SCORM BUTTON */
.button-scorm{
	background-color: #6e8eba;
    border-width: 0px;
    border-color: #ffffff;
    border-radius: 3px;
    border-style: solid;
    padding: 10px 20px;
    -webkit-appearance: none;
    color: #ffffff !important;
    cursor: pointer;
	float: right;
    line-height: 0.5em;
}
iframe{
	width: 130% !important;
    height: 130% !important;
    left: -15% !important;
    top: -15% !important;
}
/*iframe[src^="/wp-content/uploads/SCORMs"]{
	width: 130% !important;
    height: 130% !important;
    left: -15% !important;
    top: -15% !important;
}*/
.mfp-iframe-holder .mfp-close {
    top: -120px !important;
}
/* FORMS */
.label-hidden h6{
	display:none;
}

/* SIDEBAR */
.nd_options_navigation_2_sidebar_content{
	background: #0093C9 !important;
}


/* RESPONNSIVE */
@media only screen and (max-width: 1200px) {
	/* COMPARE PAGE */
	.page-id-399 .nd_learning_width_25_percentage {
		display:none;
	}
	.page-id-399 .nd_learning_width_25_percentage.nd_learning_width_100_percentage_responsive {
		display:block;
	}
	/* CONTACT PAGE */
	.page-id-45 h5{
		font-size:35px !important;
	}
	iframe {
		width: 100% !important;
		height: 100% !important;
		left: 0% !important;
		top: 0% !important;
	}
	.nd_options_display_block_responsive {
		display: block;
	}
	/* HOME  */
	.vc_parallax-content-moving .nd_learning_width_33_percentage{
		/*width:100% !important;*/
	}
	body.home .nd_learning_top_10{
		top:20px;
	} 
	body.home .nd_learning_right_10{
		right:20px;
	}
	body.home .nd_learning_masonry_item .nd_learning_bg_white {
		height:auto !important;
	}
	body.home .vc_col-lg-3 .products li,
	body.home .vc_col-lg-6 .products li{
		height: auto !important;
	}
	body.home .vc_col-lg-6 .nd_learning_section.nd_learning_masonry_content {
		margin-bottom: 0px;
	}
	body.home .nd_learning_width_50_percentage.nd_learning_masonry_item{
		padding-top: 20px !important;
	}
	body.home .nd_learning_width_50_percentage.nd_learning_masonry_item.nd_learning_width_100_percentage_responsive{
		padding-top: 30px !important;
	}
	body.home .nd_learning_width_100_percentage.nd_learning_masonry_item{
		padding-top: 35px !important;
	}
	body.home .nd_learning_section.nd_learning_masonry_content {
		margin-bottom: 0px;
	}
	body.home .nd_learning_width_100_percentage.nd_learning_width_100_percentage_responsive.nd_learning_masonry_item{
		padding-top: 35px !important;
	}
	body.home .vc_col-lg-3 .products li h3, body.home .vc_col-lg-6 .products li h3 {
		height: auto !important;
		margin-bottom: 0px !important;
		top: auto !important;
	}
	body.home .vc_col-lg-6 .products li h3{
		top: 0px!important;
	}
	body.home .nd_learning_width_50_percentage.nd_learning_masonry_item:nth-child(even){
		padding-left:0px !important;
	}
	body.home .nd_learning_width_50_percentage.nd_learning_masonry_item:nth-child(odd){
		padding-right: 0px !important;
	}
	body.home .nd_learning_width_50_percentage.nd_learning_masonry_item:nth-child(3),
	body.home .nd_learning_width_50_percentage.nd_learning_masonry_item:nth-child(4){
		/*margin-top: 20px !important;*/
	}

	/* CATALOGO */
	.post-type-archive-courses .nd_learning_masonry_item{
		height: auto !important;
	}
	.page-id-294 .nd_learning_masonry_item{
		height: auto !important;
	}
	.page-id-1039 .nd_learning_masonry_item{
		height: auto !important;
	}
	.page-id-1039 .nd_learning_masonry_item .nd_learning_bg_white {
		height: auto !important;
	}
	.page-id-1039 .nd_learning_masonry_item .nd_learning_bg_white > a {
		position: relative !important;
		left: auto !important;
		bottom: auto !important;
	}
	#sidebar-course.scrolled table{
		border: none;
		width: 100% !important;
	}
	#sidebar-course.scrolled table tr{
		border-bottom: 2px solid #f1f1f1;
	}
	#sidebar-course.scrolled .nd_learning_height_20{
		display: block; 
	}
	#sidebar-course.scrolled > div:first-child{
		position: relative;
		top: auto;
		padding-top: 0px;
	}
	#sidebar-course.scrolled > div:last-child{
		margin-top: 0px;
		width: 100%;
		top: auto;
		width:100%;
	}
	#nd_learning_single_course_all_book_buttons{
		width:100% !important;
	}
	/* CAMPUS PAGE */
	.page-id-7969 .vc_row.vc_row-o-full-height {
		min-height: 20vh !important;
	}
	.page-id-8129 .vc_custom_1492618342576 > .wpb_wrapper > .vc_row-fluid{
		/*height: 150px !important;*/
	}
	.page-id-8129 .vc_custom_1492617681812 .left-height {
		height: 150px !important;
		/*display:none !important;*/
	}
	.page-id-8129 .gambit-row-fullheight {
		height: 30em!important;
	}
	.vc_row.vc_row-flex, .vc_row.vc_row-flex > .vc_column_container {
		display: block !important;
	}
	.page-id-8129 .vc_custom_1491823645221 > .vc_column_container{
		/*left: 0px !important;*/
	}
	/* SCORM POPUP */
	iframe[src^="/wp-content/uploads/SCORMs"]{
		width: 100% !important;
		height: 100% !important;
		left: 0 !important;
		top: 0 !important;
	}
	.mfp-iframe-holder .mfp-close {
		top: -40px !important;
	}
	.wpcf7-form .nd_options_width_100_percentage_all_iphone_important{
		width:100% !important;
	}
	/* FOOTER */
	#nd_options_footer_4_copyright .nd_options_grid_6{
		padding:5px;
	}
	#nd_options_footer_4_copyright .nd_options_grid_6:last-child{
		margin-bottom :10px;
	}
	/* ITINERARIOS */
	.single.single-product .images,
	.single.single-product .entry-summary{
		width:100% !important;
	}
	.preview-video-xs .nd_options_mpopup_iframe img{
		height: 70px;
		top: 0px;
		position: relative;
	}
	.preview-video-xs .custom-iframe img{
		height: 70px;
		top: 0px;
		position: relative;
	}
}
@media screen and (max-width: 782px){
	html[lang] {
		margin-top: 0px !important;
	}
}
@media only screen and (max-width: 767px) /*and (min-width: 320px)*/{
	/* HOME 2 */
	body.home .vc_parallax h1{
		font-size: 40px !important;
		line-height: 50px !important;
	}
	body.page-id-198 div.post-198 > div {
		color: #303030 !important;
		/*padding-top: 100px !important;*/
	}
	body.home .nd_learning_section.nd_learning_masonry_content {
		margin-bottom: 30px;
	}
	body.page-id-198 select{
		padding: 8px 10px !important;
	}
	body.home .nd_learning_masonry_item .nd_learning_bg_grey .nd_learning_width_33_percentage:last-child {
		top: 0px;
	}
	/* CURSO INDIVIDUAL */
	#nd_learning_single_course_info_course_print{
		position: relative;
		top: 10px;
	}
	.nd_learning_text_align_left_all_iphone {
		text-align: left;
	}
	/* SEARCH */
	.search-results .nd_options_masonry_item .nd_options_section.nd_options_box_sizing_border_box{
		height:auto !important;
	}
	.search-results .nd_options_masonry_item .nd_options_section.nd_options_box_sizing_border_box a{
		position: relative !important;
		left: auto !important;
		bottom: auto !important;
	}
	/* EDIT PROFILE*/
	#mi-perfil-tabs .ui-tabs-panel{
		width:100% !important;
	}
	/* FOOTER */
	#nd_options_footer_4_copyright .nd_options_grid_6{
		padding: 2px 10px;
	}
	#nd_options_footer_4 .wpb_widgetised_column .widget div ul li {
		padding: 2px 10px;
	}
}
@media only screen and (max-width: 767px) /*and (min-width: 320px)*/{
	.preview-video .nd_options_mpopup_iframe img{
		height: 50px;
	}
	.preview-video-xs .nd_options_mpopup_iframe img{
		height: 50px;
	}
	.preview-video .custom-iframe img{
		height: 50px;
	}
	.preview-video-xs .custom-iframe img{
		height: 50px;
	}
}

/*Hide option Itinerarios from category select */
select[name="category-course"] option[value^=itinerario-formativo]{
	display:none ;
}



.mfp-figure:after {
	z-index: -1;
}

/* RIBBONS */

/* The ribbons */
.corner-ribbon{
	width: 200px;
	background: #e43;
	position: absolute;
	top: 25px;
    left: -50px;
    right: auto;
	text-align: center;
	line-height: 50px;
	letter-spacing: 1px;
	color: #f0f0f0;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

/* Custom styles */
.corner-ribbon.shadow{
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

/* Different positions */
.corner-ribbon.top-left{
	top: 25px;
	left: -50px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.corner-ribbon.top-right{
	top: 25px;
	right: -50px;
	left: auto;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-left{
	top: auto;
	bottom: 25px;
	left: -50px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-right{
	top: auto;
	right: -50px;
	bottom: 25px;
	left: auto;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

/* Colors */
.corner-ribbon.ribbon-white{background: #f0f0f0; color: #555;}
.corner-ribbon.ribbon-black{background: #333;}
.corner-ribbon.ribbon-grey{background: #999;}
.corner-ribbon.ribbon-blue{background: #39d;}
.corner-ribbon.ribbon-green{background: #2c7;}
.corner-ribbon.ribbon-turquoise{background: #1b9;}
.corner-ribbon.ribbon-purple{background: #95b;}
.corner-ribbon.ribbon-red{
	background: #C2191E;
	/*z-index: 1001;*/
	/*background: linear-gradient(#C2191E 0%, #881518 100%);*/
	/*border-top: solid #700707 1px;*/
	/*border-bottom: solid #700707 1px;*/
}
.corner-ribbon.ribbon-orange{background: #e82;}
.corner-ribbon.ribbon-yellow{background: #ec0;}
.corner-ribbon.ribbon-yellow{background: #ec0;}



/*NOTIFICATION POPUP*/
.mfp-bg {
    /*background: rgba(101, 100, 96, 1);*/
	background: rgb(0, 0, 0) !important;
	opacity: 0.9 !important;
    filter: alpha(opacity=90) !important;
}
.white-popup{
	position: relative;
	background: #FFF;
	padding: 30px;
	width: auto;
	max-width: 500px;
	margin: 20px auto;
	color:black;
	text-align: center;
	font-size: 1.2em;
}
.white-popup .image-popup{
	margin: 0px auto;
	width: 30px;
	top: 8px;
	opacity: 0.5;
	position: relative;
	margin-right: 15px;
	display:none;
}
.white-popup .image-popup.loading{
	margin: 0px auto;
    width: 120px;
    position: relative;
    margin-right: 15px;
    display: none;
    margin-right: auto;
    margin-left: auto;
    top: 0px;
}
.white-popup.error .image-popup.error{
	display: inline-block !important;
}
.white-popup.success .image-popup.success{
	display: inline-block !important;
}
.white-popup.loading .image-popup.loading{
	display: block !important;
}

/* LOGIN */
.login-recuperar{
	text-align: center;
    margin-top: 20px;
    float: left;
    width: 100%;
}




@media screen and (max-width: 768px){
	#mi-perfil-tabs ul li {
		width:100%;
	}
}