
/* LETTERS COLOR BLACK */
.nd_options_customizer_fonts, .nd_options_customizer_fonts .nd_options_color_grey, .nd_options_customizer_fonts p, .nd_options_customizer_fonts a, .nd_options_customizer_fonts select, .nd_options_customizer_fonts textarea, .nd_options_customizer_fonts label, .nd_options_customizer_fonts input {
    color: #303030;
}
.nd_options_customizer_fonts h1 {
    color: #303030;
}
.nd_options_customizer_fonts h1 {
    color: #303030;
}
.nd_options_section h1 strong {
    color: #303030;
}
.nd_options_section h2 strong {
    /*color: #303030;*/
}
.nd_options_customizer_fonts h3 {
    color: #303030;
}
.nd_options_customizer_fonts h4 {
    color: #303030;
}
.nd_options_customizer_fonts h5 {
    color: #303030;
}
.nd_options_customizer_fonts .nd_options_color_greydark{
    color: #303030;
}
*::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #303030 !important;
}
*::-moz-placeholder { /* Firefox 19+ */
	color: #303030 !important;
}
*:-ms-input-placeholder { /* IE 10+ */
	color: #303030 !important;
}
*:-moz-placeholder { /* Firefox 18- */
	color: #303030 !important;
}
text-area{
	color: #303030 !important;
}
#nd_options_footer_4_copyright .nd_options_grid_6 a,
#nd_options_footer_4_copyright .nd_options_grid_6 p{
	color: #a3a3a3 !important;
}
.single-courses [data-vc-action="collapse"] .vc_tta-panel-heading .vc_tta-title-text{
	color: #303030 !important;
}
.single-courses [data-vc-action="collapse"] .vc_tta-panel-body{
	color: #303030 !important;
}
.single-courses [data-vc-action="collapse"] p{
	color: #303030 !important;
}
.hentry .wpb_wrapper .nd_learning_masonry_item p.nd_learning_color_white_important{
	color: white !important;
}
.nd_options_color_greydark{
	color: #303030 !important;
}
.nd_learning_bg_white a{
	color: #303030 !important;
}
.nd_learning_bg_grey a{
	color: #303030 !important;
}
.nd_learning_bg_grey .nd_learning_text_align_right a{
	color: white !important;
}
select{
	color: #303030 !important;
}
#nd_options_breadcrumbs a,
#nd_options_breadcrumbs p{
	color: #303030 !important;
}
#nd_options_navigation_top_header_2_left a,
#nd_options_navigation_top_header_2_right a{
	color: #303030 !important;
}

.hentry .wpb_wrapper h2,
.hentry .wpb_wrapper .product h3,
.hentry .wpb_wrapper .wpb_content_element h3,
.hentry .wpb_wrapper h2 strong,
.hentry .wpb_wrapper p{
	color: #303030 !important;
}
.hentry .wpb_wrapper [data-vc-action="collapse"] p,
.hentry .wpb_wrapper [data-vc-action="collapse"] a span{
	color: #303030 !important;
}
.hentry .color_white_important .wpb_wrapper p{
	color:white !important;
}
/* Contacto */
.post-45.hentry h3,
.post-45.hentry h5,
.post-45.hentry h6,
.post-45.hentry p{
	color: #303030 !important;
}
.post-45.hentry a{
	color: #0093C9 !important;
}
/* Teachers */
.page-id-296 .color_white_important h2 strong{
	color:white !important;
}
.single-teachers h3 strong,
.single-teachers h4,
.single-teachers p{
	color: #303030 !important;
}
.single-teachers .nd_learning_background_size_cover p{
	color: white !important;
}
/*Services*/
.page-id-29 .vc_custom_1467207941914 a:last-child{
	background-color: #0093C9 !important;
	color:white !important;
}
/*Privacy*/
.page-id-7787 .hentry *{
	color: #303030 !important;
}
/*General*/
input[type=text],
input[type=search],
select{
	color: #303030 !important;
}
.nd_options_masonry_content .nd_options_masonry_item .nd_options_float_left a,
.nd_options_masonry_content .nd_options_masonry_item .nd_options_float_right a{
	color: #303030 !important;
}
form label{
	color: #303030 !important;
}
/*Profile*/
.page-template-perfil .nd_learning_color_white_important,
.page-template-miperfil .nd_learning_color_white_important{
	color:white !important;
}
.page-template-perfil h3 strong,
.page-template-perfil h4 strong,
.page-template-perfil h5 strong,
.page-template-miperfil h3 strong,
.page-template-miperfil h4 strong,
.page-template-miperfil h5 strong{
	color: #303030 !important;
}
.page-template-perfil h5 + .nd_learning_height_5 + p,
.page-template-miperfil h5 + .nd_learning_height_5 + p{
	color: #303030 !important;
}
.page-template-perfil .nd_learning_bg_greydark h5 + .nd_learning_height_5 + p,
.page-template-miperfil .nd_learning_bg_greydark h5 + .nd_learning_height_5 + p{
	color: white !important;
}
.page-template-perfil.nd_options_customizer_fonts h5.nd_options_color_grey{
	color:white !important;
}
/*Search*/
.post-type-archive-courses h2 strong{
	color: #303030 !important;
}
.post-type-archive-courses #nd_learning_btn_sorting_pagination a strong{
	color:#0093C9 !important;
}
.post-type-archive-courses #nd_learning_btn_sorting_pagination .nd_learning_btn_sorting_pagination_active a strong{
	opacity: 0.3 !important;
}
/*Home*/
body.home .vc_parallax p{
	color:white !important;
}

/* FORCE BLUE COMPANY */
.nd_learning_bg_green {
    background-color: #0093C9 !important;
	color: white !important;
}
.nd_learning_bg_white .nd_learning_bg_green {
    background-color: #0093C9 !important;
	color: white !important;
}
a[style^="background-color:#6e8ebc"],
a[style^="background-color: #6e8ebc"]{
	background-color: #0093C9 !important;
}
a[style^="background-color:#0093C9"],
a[style^="background-color: #0093C9"],
a[style^="background-color:#0093c9"],
a[style^="background-color: #0093c9"]{
	color: white !important;
}
form input[type="submit"]{
	color: white !important;
	background-color: #0093C9 !important;
}
.page-id-296 .nd_learning_box_sizing_border_box a{
	background-color: #0093C9 !important;
}
.hentry .wpb_wrapper .product a.button{
	color: white !important;
	background-color: #0093C9 !important;
}
.page-id-7787 .hentry a{
	color:  #0093C9 !important;
}
a.button-scorm{
	color: white !important;
	background-color: #0093C9 !important;
}
.related.products ul.products li.product a[rel="nofollow"] {
    color: white !important;
	background-color: #0093C9 !important;
}
.color_white_important h1 strong {
    color: white !important;
}