/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 13-jun-2016, 23:33:08
    Author     : Gabriel
*/


/* *************************************** LOGIN ****************************************************************/
body.login{
	background-color: white;
}
.login h1 a{
	background-image: url('/wp-content/uploads/logos/logo-xl.png') !important;
	background-size: contain;
	outline:none;
	text-decoration: none;
	width: 100%!important;
    height: 180px!important;
	background-size: 100% !important;
}
.login .message {
	border-left: 4px solid #0093C9;
	box-shadow: none;

}
.login form {
	/*border: 1px solid rgba(197, 106, 181, 0.5);*/
	border: 1px solid  #0093C9;
	box-shadow: none !important;
	border-radius: 3px;
}
body.login input[type=submit]{
	background-color:   #0093C9;
	border:none;
	box-shadow: none;
	text-shadow:none;
}
body.login input[type=submit]:hover{
	background-color:    #0093C9;
}
body.login input[type=text]:focus,
body.login input[type=password]:focus{
	outline: none;
	border: none;
	/*box-shadow: 0px 0px 8px 1px rgba(197, 106, 181, 0.7);*/
	box-shadow: 0px 0px 8px 1px  #0093C9;
}

body.login p{
	text-align: center;
}
.login #login_error {
	display:none;
}
